
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="promotion">
    <div class="title-menu clearfix" style="margin-top: 10px;">
        <img src="~/Content/img/icon/line.png" class="fl-left" style="margin-left: 410px; " />
        <p class="title-menu fl-left"> Khuyến mại</p>
        <img src="~/Content/img/icon/line.png" class="fl-left" />
    </div>
    <div id="content-promotion">
        <br><br>
        <h2>
            Combo siêu hấp dẫn
        </h2>
        <ul id="KhuyenMai" style="margin-left: 270px;">
            <li>
                <img src="~/Content/img/combo/combo1.png">
                <h3>Combo 01</h3>
                <button type="button" class="btn btn-danger">
                    Mua
                    <span class="fa fa-cart-plus"></span>
                </button><br>
                <div class="detail-promotion">
                    <p class="fl-left">Cho 2 người</p>
                    <p style="color: red;"> 139.000đ</p>
                </div>
                <p class="sub-detail">1 Pizza size S + 1 Salad + 1 Coca 390ml </p>
            </li>
            <li>
                <img src="~/Content/img/combo/combo2.png">
                <h3>Combo 02</h3>
                <button type="button" class="btn btn-danger">
                    Mua
                    <span class="fa fa-cart-plus"></span>
                </button><br>
                <div class="detail-promotion">
                    <p class="fl-left">Cho 3 người</p>
                    <p style="color: red;"> 179.000đ</p>
                </div>
                <p class="sub-detail">1 Pizza size L + 1 Mỳ Ý + 1 Coca 390ml </p>

            </li>
            <li>
                <img src="~/Content/img/combo/combo3.png">
                <h3>Combo 03</h3>
                <button type="button" class="btn btn-danger">
                    Mua
                    <span class="fa fa-cart-plus"></span>
                </button><br>
                <div class="detail-promotion">
                    <p class="fl-left">Cho 4 người</p>
                    <p style="color: red;"> 269.000đ</p>
                </div>
                <p class="sub-detail">1 Pizza size L + 1 Pizza size M + 1 Mỳ Ý + 1 Coca 390ml </p>
            </li>
            <li>
                <img src="~/Content/img/combo/combo4.png">
                <h3>Combo 04</h3>
                <button type="button" class="btn btn-danger">
                    Mua
                    <span class="fa fa-cart-plus"></span>
                </button><br>
                <div class="detail-promotion">
                    <p class="fl-left">Cho 6 người</p>
                    <p style="color: red;"> 429.000đ</p>
                </div>
                <p class="sub-detail">3 Pizza size L + 1 Mỳ Ý + 1 Khoai tây chiên + 1 Coca 1.5l </p>
            </li>
        </ul>
    </div>
</div>

