
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
    <script src="../Content/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.css" />
    <script src="../Content/js/bootstrap.js"></script>
    <style>
        body {
            background-image: url("../Content/img/bg1.jpg")
        }

        #form_dangnhap {
            margin: 100px auto;
            width: 600px;
            background-color: #fcf9f9;
        }
    </style>
</head>
<body>
    <div class="panel panel-success" id="form_dangnhap">
        <div class="panel-heading">Thông tin</div>
        <form class="panel-body form" method="post">
            
            <div class="form-group">
                <label>Tài khoản: </label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="txtTaikhoan" name="MaND" placeholder="Nhập tài khoản...(tài khoản đúng là admin)" />
                </div>
            </div>
            <div class="form-group">
                <label>Mật khẩu: </label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" id="txtMatkhau" name="MatKhau" placeholder="password...(mật khẩu đúng là 123 )" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Đăng nhập" style="width : 100px;" />
                <a href="@Url.Action("DangKi","DangNhap")">Đăng kí</a>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" id="thongbao">Thông báo<h5>@ViewBag.mess</h5></div>
            </div>
        </form>
    </div>
</body>
@*<script>
            var taikhoan = 'admin';
            var matkhau = '123';

            function dangnhap(){
                var _user = $('#txtTaikhoan').val();
                var _pass = $('#txtMatkhau').val();
                if(_user== taikhoan && _pass == matkhau){
                    window.location.replace("file:///D:/WHCJ/2.Working/B15/template-foody/foody_2.html");
                }else{
                    $('#thongbao').html('Tài khoản hoặc mật khẩu không hợp lệ.');
                    $('#thongbao').show();
                }
            }
            $(function(){
                $('#thongbao').hide();

                $("#btnDangnhap").click(function(){
                    dangnhap();
                });
            });
    </script>*@
</html>

