
@{
    ViewBag.Title = "DangKi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
    <script src="js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker.css">
    <script src="../Content/js/bootstrap.js"></script>
    <style>
        body {
            background-image: url("../Content/img/bg1.jpg")
        }

        #form_dangnhap {
            margin: 100px auto;
            width: 600px;
            background-color: #fcf9f9;
        }
    </style>
</head>
<body>
    <div class="panel panel-success" id="form_dangnhap">
        <div class="panel-heading">Đăng kí</div>

        <form class="panel-body form" method="post" onsubmit="return check(this)">
            <div class="form-group">
                <label>Tài khoản: </label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" name="HoTen" id="txtTaikhoan" placeholder="Nhập tài khoản..." required />
                </div>
            </div>
            <div class="form-group">
                <label>Mật khẩu: </label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" name="MatKhau" id="txtMatkhau" placeholder="password..." required />
                </div>
            </div>
            <div class="form-group">
                <label>Nhập lại mật khẩu: </label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" name="MatKhau1" id="txtMatkhau1" placeholder="password..." required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputGroupSuccess1">Phone</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                    <input type="text" pattern="[0-9]{10}" form-control" name="SDT" id="inputGroupSuccess1" placeholder="SĐT" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputGroupSuccess1">Date</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input type="date" name="NgaySinh" style="height: 28px;">
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Đăng ký" style="width : 100px;" />
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" id="thongbao">Thông báo</div>
            </div>

        </form>
    </div>

    <script>
        function check(form) {
            var pw1 = form.MatKhau.value;
            var pw2 = form.MatKhau1.value;
            if (pw1 != pw2) {
                alert("\nPassword không trùng khớp. Vui lòng nhập lại")
                return false;
            }
            else return true;
        }
        $(function () {
            $('#thongbao').hide();

            $("#btnDangnhap").click(function () {
                dangnhap();
            });
        });

        $(function () {
            $('#datetimepicker1').datetimepicker();
        });

    </script>
</body>

</html>


