
@{
    ViewBag.Title = "ChinhSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wp-content" class="wp-inner clearfix">
    <img src="~/Content/img/banner-01.jpg">
    </div>
    <div id="content" class="fl-left">
        <div id="title-policy">
            <h2>Chính sách dịch vụ</h2>
        </div>
        <div id="detail-policy" >
            <p><strong>– GIAO HÀNG MIỄN PHÍ:</strong> FreshFood giao hàng miễn phí trong phạm vi 4km từ cửa hàng gần nhất. Phí giao hàng có thể thay đổi trong một số trường hợp thời tiết khắc nghiệt.</p>
            <p><strong>– THỜI GIAN LÀM VIỆC:</strong> Tổng đài FreshFood tiếp nhận đơn hàng trong khung giờ từ 8:00 – 21:00 hàng ngày. Bộ phận giao hàng của chúng tôi có thể phục vụ Quý khách ngoài khung giờ trên nếu có yêu cầu.</p>
            <p><strong>– GIAO NHẬN SẢN PHẨM:</strong> Quý khách vui lòng kiểm tra và đối chiếu sản phẩm với hóa đơn trước khi thanh toán với nhân viên giao hàng của chúng tôi. Sau khi giao hàng thành công, FreshFood sẽ không chịu trách nhiệm đối với hình thức và số lượng sản phẩm đã bàn giao.</p>
            <p><strong>– BẢO MẬT THÔNG TIN: </strong> FreshFood tôn trọng và cam kết bảo mật các thông tin mang tính riêng tư của Quý khách. Chúng tôi sẽ chỉ sử dụng thông tin Quý khách cung cấp cho mục đích cung cấp dịch vụ và chăm sóc khách hàng.</p>



        </div>
    </div>
    @Html.Partial("partialviewBlog")

